<p style="color: green"><%= notice %></p>

<!--h1>tarefas</!--h1 -->

<div id="tarefas">
  <% @tarefas.each do |tarefa| %>
    <%= render tarefa %>
    <p>
      <%# daniel não quis esses link = link_to "Show this tarefa", tarefa %>
    </p>
  <% end %>
</div>

<%# aqui criado pelo scaffold = link_to "New tarefa", new_tarefa_path %>
